@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E4E4;
    text-align: center;
}

#vänstra-naven,
#högra-naven {
    display: flex;
    align-items: center;
}

#varukorg-knapp {
    border: none;
    background: none;
    cursor: pointer;
}


#vänstra-naven button {
    border: none;
    background: none;
    cursor: pointer;
}

h1 {
    font-family: "Bodoni Moda", serif;
    font-weight: 800;
    font-style: italic;

}

main {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E4E4E4;
    border-radius: 30px;
}

#produkt-container {
    text-align: center;
}

.produkt {
    margin: 20px;
}












/* Stilregler för mobil */
@media only screen and (max-width: 767px) {

    header h1 {
        letter-spacing: 3px;
    }

    #varukorg-knapp img {
        width: 35px;
        height: 35px;
    }

    #sök-knapp {
        margin-left: 10px;
    }

    #sök-knapp img {
        height: 16px;
        width: 16px;
        margin-left: 8px;
    }

    #meny-knapp {
        width: 20px;
        height: 20px;
    }

    #meny-knapp img {
        width: 20px;
        height: 12px;
        margin-left: 4px;
    }

    #vänstra-naven a {
        display: none;
    }

    #högra-naven a {
        display: none;
    }

    #högra-naven a {
        display: none;
    }

    h1 {
        font-size: 17px;
    }
    
    
    

}


/* Stilregler för surfplattor */
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

/* Stilregler för dator */
@media only screen and (min-width: 1025px) {}