@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

#varukorg-ruta {
    position: fixed;
    top: 4rem;
    right: 1rem;
    width: 12rem;
    background-color: #f9f9f98b;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    display: none;
    font-family: "Bodoni Moda", serif;
    z-index: 1000;
    overflow-y: auto;
}

#varukorg-titel {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#varukorg-innehåll {
    max-height: 20rem;
}

.produkt-namn,
.produkt-pris,
#totalpris {
    font-weight: bold;
}

.ta-bort-knapp {
    background-color: transparent;
    border: none;
    color: #999;
    cursor: pointer;
    font-size: 0.875rem;
}

#stäng-varukorg {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #CACACA;
    color: black;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

#rensavarukorg,
#checka-ut {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #CACACA;
    color: black;
    border: solid 0.01rem rgba(0, 0, 0, 1);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}


#checka-ut button:active,
#rensa-varukorg button:active {
    background-color: rgba(0, 0, 0, 0.5);
}
.produkt:hover {
    background-color: #777;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4E4E4;
    text-align: center;
}

#vänstra-naven,
#högra-naven {
    display: flex;
    align-items: center;
}

#varukorg-knapp {
    border: none;
    background: none;
    cursor: pointer;
}


#vänstra-naven button {
    border: none;
    background: none;
    cursor: pointer;
}

h1,
#visa-mer p {
    font-family: "Bodoni Moda", serif;
    font-weight: 800;
    font-style: italic;
}

body {
    background: rgb(202, 202, 202);
    background: linear-gradient(0deg, rgba(202, 202, 202, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

main,
footer {
    background-color: #E4E4E4;
}

#produkt-container {
    text-align: center;
}

#visa-mer button {
    border: solid 0.1rem rgba(0, 0, 0, 1);
    background-color: #CACACA;
}

#visa-mer button:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.produkt img {
    height: auto;
    width: 100%;
}

#visa-mer {
    text-align: center;
}

#visa-mer p {
    margin: 0;
    letter-spacing: 0.1875rem;
}

.info a,
.produkt-info p,
.sektion li,
.sektion p,
header a,
#varukorg-ruta {
    list-style-type: none;
    font-family: "Bodoni Moda", serif;
    text-decoration: none;
    color: black;
}

#högra-naven {
    justify-self: flex-end;
}

#vänstra-naven {
    justify-self: flex-start;
}



/* Stilregler för mobil */
@media only screen and (max-width: 767px) {

    /* Main, produkt container regler */
    main {
        display: grid;
        grid-template-rows: 1;
        grid-template-rows: 1;
        border-radius: 0.13rem;
        margin: 0.625rem;
        place-items: center;
    }

    .produkter {
        grid-column: span 1;
        grid-row: span 1;
    }

    .produkt {
        margin: 1.25rem;
        border: solid 0.125rem rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
    }


    #visa-mer button {
        border-radius: 2rem;
        width: 30vw;
        height: 2rem;
        margin-bottom: 2rem;
    }

    /* Header regler */
    header h1 {
        letter-spacing: 0.1875rem;
    }

    #varukorg-knapp img {
        width: 2.1875rem;
        height: 2.1875rem;
    }

    #sök-knapp {
        margin-left: 0.625rem;
    }

    #sök-knapp img {
        height: 1rem;
        width: 1rem;
        margin-left: 0.5rem;
    }

    #meny-knapp {
        width: 1.25rem;
        height: 1.25rem;
    }

    #meny-knapp img {
        width: 1.25rem;
        height: 0.75rem;
        margin-left: 0.25rem;
    }

    #vänstra-naven a {
        display: none;
    }

    #högra-naven a {
        display: none;
    }


    header h1 {
        font-size: 1.0625rem;
    }

    /* footer regler */

    footer h1 {
        padding-top: 5%;
        text-align: center;
    }

    .sektion {
        font-size: 1.125rem;
        margin-bottom: 0.625rem;
        font-weight: 800;
        font-style: italic;
    }

    .line {
        width: 90%;
        height: 0.1rem;
        background-color: rgba(0, 0, 0, 1);
        margin: 5% auto;
    }
}


/* Stilregler för surfplattor */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    /* Main, produkt container, produkt regler */
    main {
        margin: 5%;
        border-radius: 2rem;
        padding: 2%;
        gap: 20px;
    }

    #produkter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
    }

    .produkt {
        overflow: hidden;
        border: solid 0.125rem rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
    }

    main .produkt:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    main .produkt:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    main .produkt:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }

    main .produkt:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }

    main .produkt:nth-child(5) {
        grid-column: 1;
        grid-row: 3;
    }

    main .produkt:nth-child(6) {
        grid-column: 2;
        grid-row: 3;
    }

    #visa-mer button {
        border-radius: 2rem;
        width: 15vw;
        height: 2rem;
        margin: 2.5rem 0;
    }

    /* Header regler */

    header a {
        letter-spacing: 0.01rem;
        margin: 0 0.4rem;
        font-size: 1rem;
    }



    /* Footer regler */
    footer {
        display: flex;
        align-items: center;
    }

    footer #logga {
        order: 1;
        margin: 0 10%;
        font-size: 3rem;
    }

    .sektion {
        order: 0;
        margin: 0 1%;
    }

    .sektion p {
        font-size: 1rem;
        margin: 0 1%;
    }

    .sektion li {
        margin: 10% 0;

    }

    .sektion p {
        margin: 0 10%;
        font-weight: 900;
    }
}

/* Stilregler för dator */
@media only screen and (min-width: 1025px) {

    /* Main, produkt container, produkt regler */
    main {
        margin: 5%;
        border-radius: 2rem;
        padding: 2%;
        gap: 20px;
    }

    #produkter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .produkt {
        overflow: hidden;
        border: solid 0.125rem rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 1rem;
        overflow: hidden;
    }

    main .produkt:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    main .produkt:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    main .produkt:nth-child(3) {
        grid-column: 3;
        grid-row: 1;
    }

    main .produkt:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
    }

    main .produkt:nth-child(5) {
        grid-column: 2;
        grid-row: 2;
    }

    main .produkt:nth-child(6) {
        grid-column: 3;
        grid-row: 2;
    }

    #visa-mer button {
        border-radius: 2rem;
        width: 15vw;
        height: 2rem;
        margin: 2.5rem 0;
    }

    /* Header regler */
    header {
        justify-content: space-between;
    }

    header a {
        letter-spacing: 0.01rem;
        margin: 0 0.4rem;
        font-size: 1rem;
    }

    #högra-naven {
        justify-self: flex-end;
    }


    /* Footer regler */
    footer {
        display: flex;
        align-items: center;
    }

    footer #logga {
        order: 1;
        margin: 0 10%;
        font-size: 3rem;
    }

    .sektion {
        order: 0;
        margin: 0 1%;
        text-align: center;

    }

    .sektion p {
        margin: 0 1%;
        padding-bottom: 10%;
        font-weight: 900;
    }

    .sektion li {
        margin: 10% 0;
    }
}